:root {
    --color-primary: #1da1f2;
    --color-background: #ffffff;
    --color-text: #0f1419;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --default-border-radius: 8px;
    --main-color:#8B5CF6;
    --default-hover-background:#F1F0FB;
    --button-font-color: #ffffff;
    --default-background: #ffffff;
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }
